<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.huanghai.mall.dao.CmsSubjectProductRelationDaoExpand">
  <resultMap id="expandMap" type="fun.huanghai.mall.cms.pojo.CmsSubjectProductRelation"
             extends="fun.huanghai.mall.dao.CmsSubjectProductRelationMapper.BaseResultMap">
  </resultMap>


  <sql id="expandList" >
    ${alias}.id, ${alias}.subject_id, ${alias}.product_id
  </sql>

  <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into cms_subject_product_relation (subject_id, product_id)
    values
    <foreach collection="records" separator="," item="obj">
      (#{obj.subjectId,jdbcType=BIGINT}, #{obj.productId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <delete id="delByCondition">
    delete from cms_subject_product_relation
    where ${name} = #{val}
  </delete>

</mapper>