<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.huanghai.mall.dao.PmsProductLadderDaoExpand">
  <resultMap id="expandMap" type="fun.huanghai.mall.pms.pojo.PmsProductLadder"
             extends="fun.huanghai.mall.dao.PmsProductLadderMapper.BaseResultMap">
  </resultMap>

  <sql id="expandList" >
    ${alias}.id, ${alias}.product_id, ${alias}.count, ${alias}.discount, ${alias}.price
  </sql>

  <insert id="insertAll" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
    insert into pms_product_ladder (product_id, count, discount,price)
    values
    <foreach collection="records" separator="," item="obj">
      (#{obj.productId,jdbcType=BIGINT}, #{obj.count,jdbcType=INTEGER}, #{obj.discount,jdbcType=DECIMAL},
        #{obj.price,jdbcType=DECIMAL})
    </foreach>
  </insert>

  <delete id="delByCondition">
    delete from pms_product_ladder
    where ${name} = #{val}
  </delete>
</mapper>