<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.huanghai.mall.dao.UmsAdminPermissionRelationDaoExpand" >
  <resultMap id="expandMap" type="fun.huanghai.mall.ums.pojo.UmsAdminPermissionRelation" extends="fun.huanghai.mall.dao.UmsAdminPermissionRelationMapper.BaseResultMap">
  </resultMap>

  <sql id="expandList" >
    ${alias}.id, ${alias}.admin_id, ${alias}.permission_id, ${alias}.type
  </sql>

  <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into ums_admin_permission_relation (id,admin_id, permission_id,
      type)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.adminId,jdbcType=BIGINT}, #{item.permissionId,jdbcType=BIGINT},
        #{item.type,jdbcType=INTEGER})
    </foreach>
  </insert>
  
  <delete id="deleteBySelective">
    delete from ums_admin_permission_relation
    where ${name} = #{val}
  </delete>

</mapper>