<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.huanghai.mall.dao.UmsAdminRoleRelationDaoExpand" >
  <resultMap id="expandMap" type="fun.huanghai.mall.ums.pojo.UmsAdminRoleRelation" extends="fun.huanghai.mall.dao.UmsAdminRoleRelationMapper.BaseResultMap">
  </resultMap>

  <sql id="expandList" >
    ${alias}.id, ${alias}.admin_id, ${alias}.role_id
  </sql>

  <delete id="deleteBySelective">
    delete from ums_admin_role_relation
    where ${name} = #{val}
  </delete>

  <insert id="insertAll" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
    insert into ums_admin_role_relation (id, admin_id, role_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.adminId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>