<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.huanghai.mall.dao.UmsAdminDaoExpand" >
  <resultMap id="expandMap" type="fun.huanghai.mall.ums.pojo.UmsAdminExpand" extends="fun.huanghai.mall.dao.UmsAdminMapper.BaseResultMap">
    <collection property="roles" javaType="fun.huanghai.mall.ums.pojo.UmsRole" autoMapping="true">
      <id column="ur_id" property="id" />
      <result column="ur_status" property="status"/>
      <result column="ur_time" property="createTime"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, icon, email, nick_name, note, create_time, login_time, status
  </sql>

  <!-- 根据用户名查询角色列表 -->
  <select id="findByUsername" resultMap="expandMap">
    select ua.id, username, password, icon, email, nick_name, note, ua.create_time, login_time, ua.status ,
    ur.id ur_id, NAME, description, admin_count, ur.create_time ur_time, ur.status ur_status, sort
    from ums_admin ua
    inner join ums_admin_role_relation uar
    inner join ums_role ur
    on uar.admin_id = ua.id
    and uar.role_id = ur.id
    where ua.username = #{username}
  </select>
</mapper>